<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Login - Student Progress Analysis</title>
		<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
		<link rel="stylesheet" type="text/css" th:href="@{/static/style/login.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/static/style/common.css}"/>
		<script th:src="@{/static/script/jquery-1.11.0.min.js}" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="loginTitle">
			<h1>Sign in to Student Progress Analysis</h1>
		</div>
		<div id="statusWindow" style="display: none;">
			<span id="statusText"></span>
			<i class="material-icons clear-icon" id="statusClean">clear</i>
		</div>
		<div class="loginWindow">
			<label for="username">Username</label>
			<input type="text" id="username"/>
			<label for="password">Password</label>
			<input type="password" id="password"/>
			<button id="loginBtn">Login</button>
		</div>
		<div th:insert="common :: bottombar"></div>
		<script th:if="${logined}" type="text/javascript">
			$(location).attr('href', '/index');
		</script>
		<script th:src="@{/static/script/sha256.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/static/script/login.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/static/script/common.js}" type="text/javascript" charset="utf-8"></script>
	</body>
</html>